

 
<div  style=" width:400px" class="center" (click)="markRead()"> 
  <h2 style="text-align: center;">{{ userNameTo }} 
    <span *ngIf="userStatus" class="dot" style="background-color:green;" >  </span>
     <span *ngIf="!userStatus" class="dot" style="background-color:rgb(91, 97, 91);"> </span></h2>
  <div *ngFor="let msg of messageArray; let  i = index">
          
          <div *ngIf="msg.userNameFrom==userName;else other" id="currentuser">
                   <div class="msg">{{ msg.message }}
                      <span *ngIf="msg.messageStatus.status=='sent'">
                          <i class='fas fa-check'></i>
                      </span>
                      <span *ngIf="msg.messageStatus.status=='delivered'">
                          <i class='fas fa-check-double'></i>
                      </span>
                      <span *ngIf="msg.messageStatus.status=='read'">
                          <i class='fas fa-check-double' style='color:rgb(9, 189, 189)'></i>
                      </span>
                    </div>  
          </div>    
          <ng-template #other >
                <div id="otheruser">
                    <p class="msg">{{ msg.message }} </p>    
                </div>             
          </ng-template>    
   </div>
  <p *ngIf="isTyping" class="isTyping">{{userNameTo}} is typing...</p>

  <div class="msgBox">
      <input (keypress)="typing()"  [(ngModel)]="message" name="message" type="text" placeholder="Message" style="width:80%">
      <button (click)="uploadMedia()"><span><i class="fa fa-image"></i> </span> </button>          
      <button id="send" (click)="sendMessage('text')" style="margin-left:80%; width:15%">Send</button>    
  </div>

</div>
 