<p>
  chat-room works!
</p>
<div id="mario-chat">
  <h2>{{ username }}</h2>
 
  <div id="chat-window" style="margin:5vw 25vw 5vw;">
      <div *ngFor="let item of messageArray">
          
          <div *ngIf="item.from==userName;else other" id="currentuser">
              <p class="msg">{{ item.message }}</p>    
              <p class="user">{{item.from}}</p>    
          </div>    
          <ng-template #other >
            <div id="otheruser">
              <p class="msg">{{ item.message }}</p>    
              <p class="user">{{item.from}}</p>
            </div>  
          </ng-template>    
      </div>
  <p *ngIf="isTyping" class="isTyping">{{userNameTo}} is typing...</p>
  <input (keypress)="typing()" [(ngModel)]="message" name="message" type="text" placeholder="Message" />            
  <button id="send" (click)="sendMessage()">Send</button>    
  
      <!-- <div id="feedback"></div> -->
  </div>
</div>