#currentuser > .msg {

    background-color: rgb(181, 250, 181);
    text-align: right

}

#currentuser > .user {
    text-align: right
    
}

#otheruser > .msg {
    
        background-color: rgb(233, 170, 228);
        text-align: left
    
    }

#otheruser > .user {
    text-align: left
        
 }