<div *ngIf="job" class="container">
      <div  class="container">
                  <h1> Providing Company </h1>
                  <h1> {{job.provider.company_title}} </h1>            
                  <h2> {{job.provider.company_type}} </h2>
                  <h2> {{job.provider.website}}  </h2>
      </div>


      <div >
            <h1>Details of job </h1>
            <h2>Title: <strong> {{job.post}} </strong> </h2>
            <h3>Domain <strong>  {{job.domain}} </strong> </h3>
            <h3>Required Skills <strong> {{job.requiredSkills}} </strong> </h3>            
            <h4>Location {{job.location}} </h4>             
            <h3>Description: {{job.description}} </h3>
            <button (click)="apply()"> Apply For Job </button>
      </div>
</div>