<h3>
  Find the right Job for you
</h3>
<h3 *ngIf="title"> {{title}}  </h3>
<div *ngIf="jobs">
        <div >
                <div class="card" style="width: 25rem; border:1px solid black; float:left; margin:5px" *ngFor="let job of jobs">
                    <div class="card-body">
                      <h5 class="card-title">{{job.post}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{job.location}}</h6>
                      <p class="card-text"> {{job.description}} </p>
                      <a href="#" class="card-link"> {{job.provider.title}} </a>
                    </div>
                  </div>
        </div>


        <div class="text-right">
          <ul *ngIf="pager.pages && pager.pages.length" class="float-right pagination" >
            <li [ngClass]="{disabled:pager.currentPage == 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage == 1}">
                <a (click)="setPage(pager.currentPage - 1)">&laquo;</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">&raquo;</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage == pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
          </ul>
        </div>
</div>